USE [master]
GO
/****** Object:  Database [Ogrenci_Bilgi_Sistemi_DB]    Script Date: 14.10.2022 10:26:35 ******/
CREATE DATABASE [Ogrenci_Bilgi_Sistemi_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ogrenci_Bilgi_Sistemi_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ogrenci_Bilgi_Sistemi_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ogrenci_Bilgi_Sistemi_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ogrenci_Bilgi_Sistemi_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ogrenci_Bilgi_Sistemi_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ogrenci_Bilgi_Sistemi_DB]
GO
/****** Object:  Table [dbo].[ilceler]    Script Date: 14.10.2022 10:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilceler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ilceadi] [nvarchar](255) NOT NULL,
	[sehirid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iller]    Script Date: 14.10.2022 10:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sehiradi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci_Tbl]    Script Date: 14.10.2022 10:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci_Tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ogrenci_Adı] [nvarchar](50) NULL,
	[Ogrenci_Soyad] [nvarchar](50) NOT NULL,
	[Ogrenci_Yas] [int] NULL,
	[Sehir] [int] NULL,
	[ilce] [int] NULL,
	[grup] [nvarchar](50) NULL,
	[hobiler] [nvarchar](250) NULL,
	[Rehber_Ogretmen] [int] NULL,
	[Sınıf_Ogretmeni] [int] NULL,
 CONSTRAINT [PK_Ogrenci_Tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogretmen_Tbl]    Script Date: 14.10.2022 10:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogretmen_Tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ogretmen_AdıSoyadı] [nvarchar](500) NULL,
 CONSTRAINT [PK_Ogretmen_Tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ilceler]  WITH CHECK ADD  CONSTRAINT [FK_ilceler_iller] FOREIGN KEY([sehirid])
REFERENCES [dbo].[iller] ([id])
GO
ALTER TABLE [dbo].[ilceler] CHECK CONSTRAINT [FK_ilceler_iller]
GO
USE [master]
GO
